$primary-color: rgb(30,30,30);
$secondary-color: white;
$othercolor: blue;
$font-weights : (
    "regular": 400,
    "medium": 500,
    "Bold": 700

);/* This is mapping in Sass spcifically Scss where we have a variable name 
$font-weights and values regular,meduim,.. and we can use map-get to call the map or we can have a function in that place instead */
$mobile:800px;


