body{
    background-color: aquamarine;
    
}
header{
    background-color: black;
    color: azure;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

nav ul  {
   
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
}


h2 {
    margin-left:100px;
}
li {
    margin-left: 135px;
}
a:link{
     color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
button{
   background-color: red;
}

footer{
    padding: 25px;
    background-color: black;
    color: azure;
    text-align: center;
}