body {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;    
    height: 100vh;
    background-image: url(backgriund.jpg);
    text-align: center;
  }


header{
  text-align: center;
  grid-area: header;
  background-color: black;
  color: aliceblue;
  padding: 40px;
}
#about{
  padding: 40px;
}
.row{
  width: 100%;
  display: flex;
  justify-content: center;
}
form{
  display: flex;
  justify-content: space-between;
}

.col{
  height: auto;
  
}

.card-body{
  background-color: darkslategray;
}
nav ul li {
  display: inline-block;
  
  
}


a :hover{
  color: chartreuse;
}

#box-1{
  grid-column-start: 1;
  grid-column-end: 4;
  
}/* the number u are seein are based on
the full body grid lines starting at one from the
futhermost edge of the box for something like column*/
#box-2{
  grid-row-start: 2;
  grid-row-end: 5;
}



